<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <contextName>@project.artifactId@-@project.version@_@build.timestamp@</contextName>

  <if condition='property("profile").contains("test") || property("profile").contains("local")'>
    <then>
      <root level="INFO">
        <appender-ref ref="CONSOLE"/>
      </root>
    </then>
  </if>

</configuration>
